Repository typescript-eslint/typescript-eslint, pull requests merged in 2019-04, with the labels that each got.

#204 feat(eslint-plugin): added new rule unbound-method
  packages/eslint-plugin/README.md
  packages/eslint-plugin/ROADMAP.md
  packages/eslint-plugin/docs/rules/unbound-method.md
  packages/eslint-plugin/src/rules/unbound-method.ts
  packages/eslint-plugin/tests/rules/unbound-method.test.ts
Labels: enhancement: new plugin rule

#338 feat(eslint-plugin): add prefer-for-of rule
  packages/eslint-plugin/README.md
  packages/eslint-plugin/ROADMAP.md
  packages/eslint-plugin/docs/rules/prefer-for-of.md
  packages/eslint-plugin/src/rules/prefer-for-of.ts
  packages/eslint-plugin/tests/rules/prefer-for-of.test.ts
Labels: enhancement: new plugin rule

#294 feat(eslint-plugin): add prefer-includes rule (fixes #284)
  packages/eslint-plugin/docs/rules/prefer-includes.md
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/prefer-includes.ts
  packages/eslint-plugin/tests/rules/prefer-includes.test.ts
  packages/eslint-plugin/typings/eslint-utils.d.ts
  packages/eslint-plugin/typings/ts-eslint.d.ts
Labels: awaiting response, enhancement: new plugin rule, package: eslint-plugin

#192 feat(eslint-plugin): added new rule await-promise
  packages/eslint-plugin/README.md
  packages/eslint-plugin/ROADMAP.md
  packages/eslint-plugin/docs/rules/await-thenable.md
  packages/eslint-plugin/src/rules/await-thenable.ts
  packages/eslint-plugin/tests/rules/await-thenable.test.ts
Labels: enhancement: new plugin rule

#289 feat(eslint-plugin): add prefer-string-starts-ends-with rule (fixes #285)
  packages/eslint-plugin/docs/rules/prefer-string-starts-ends-with.md
  packages/eslint-plugin/src/rules/prefer-string-starts-ends-with.ts
  packages/eslint-plugin/tests/RuleTester.ts
  packages/eslint-plugin/tests/rules/prefer-string-starts-ends-with.test.ts
  packages/eslint-plugin/typings/ts-eslint.d.ts
Labels: awaiting response, enhancement: new plugin rule, package: eslint-plugin

#311 feat(eslint-plugin): support type assertions in no-extra-parens rule
  packages/eslint-plugin/docs/rules/no-extra-parens.md
  packages/eslint-plugin/src/rules/no-extra-parens.ts
  packages/eslint-plugin/tests/rules/no-extra-parens.test.ts
  packages/eslint-plugin/typings/eslint-rules.d.ts
  packages/eslint-plugin/typings/ts-eslint.d.ts
  packages/typescript-estree/src/ts-estree/ts-estree.ts
Labels: enhancement: new plugin rule

#418 docs(eslint-plugin): Correct link to no-unused-vars
  packages/eslint-plugin/ROADMAP.md
Labels: documentation

#459 fix(eslint-plugin): support object types and as expressions [explicit-func-return-type]
  packages/eslint-plugin/docs/rules/explicit-function-return-type.md
  packages/eslint-plugin/src/rules/explicit-function-return-type.ts
  packages/eslint-plugin/tests/rules/explicit-function-return-type.test.ts
Labels: bug

#461 feat(eslint-plugin): Add semi [extension]
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/semi.md
  packages/eslint-plugin/src/rules/semi.ts
  packages/eslint-plugin/tests/rules/semi.test.ts
  packages/eslint-plugin/typings/eslint-rules.d.ts
  packages/eslint-plugin/typings/ts-eslint.d.ts
Labels: enhancement: new base rule extension

#450 docs(eslint-plugin): add prefer-includes to readme
  packages/eslint-plugin/README.md
Labels: documentation

#440 fix(eslint-plugin): restrict-plus-operands: generic constraint support
  packages/eslint-plugin/src/rules/restrict-plus-operands.ts
  packages/eslint-plugin/tests/rules/restrict-plus-operands.test.ts
Labels: bug

#432 test(eslint-plugin): arrow-paren: add extra case
  .vscode/launch.json
  packages/eslint-plugin/tests/eslint-rules/arrow-parens.test.ts
Labels: tests

#429 fix(eslint-plugin): [array-type] support readonly operator
  package.json
  packages/eslint-plugin/src/rules/array-type.ts
  packages/eslint-plugin/src/rules/unified-signatures.ts
  packages/eslint-plugin/tests/rules/array-type.test.ts
  packages/eslint-plugin/typings/eslint-utils.d.ts
  packages/typescript-estree/src/node-utils.ts
  packages/typescript-estree/src/semantic-errors.ts
  packages/typescript-estree/src/ts-estree/ts-estree.ts
  packages/typescript-estree/src/tsconfig-parser.ts
  yarn.lock
Labels: bug

#472 chore: Update plugin issue template
  .github/ISSUE_TEMPLATE/eslint-plugin-typescript.md
Labels: documentation

#457 docs(eslint-plugin): add recommended config readme
  packages/eslint-plugin/src/configs/README.md
Labels: documentation

#479 docs(eslint-plugin): Correct await-thenable recommended
  packages/eslint-plugin/README.md
  packages/eslint-plugin/src/rules/await-thenable.ts
Labels: documentation
