Repository typescript-eslint/typescript-eslint, pull requests merged in 2019-02, with the labels that each got.

#198 docs(eslint-plugin): replace white-spaces with <br> tag
  packages/eslint-plugin/ROADMAP.md
Labels: documentation

#197 fix(ts-estree): fix issue with nested jsx tag names
  packages/parser/tests/lib/__snapshots__/jsx.ts.snap
  packages/typescript-estree/src/convert.ts
  packages/typescript-estree/tests/ast-alignment/fixtures-to-test.ts
  packages/typescript-estree/tests/lib/__snapshots__/convert.ts.snap
  packages/typescript-estree/tests/lib/__snapshots__/jsx.ts.snap
  packages/typescript-estree/tests/lib/convert.ts
Labels: bug

#208 feat(ts-estree): fix issues with typeParams in FunctionExpression
  packages/parser/tests/lib/__snapshots__/typescript.ts.snap
  packages/typescript-estree/src/convert.ts
  packages/typescript-estree/src/typedefs.ts
  packages/typescript-estree/tests/ast-alignment/utils.ts
  packages/typescript-estree/tests/lib/__snapshots__/typescript.ts.snap
Labels: bug

#213 test(ts-estree): add missing test cases for parser options
  packages/typescript-estree/src/parser.ts
  packages/typescript-estree/tests/lib/__snapshots__/convert.ts.snap
  packages/typescript-estree/tests/lib/convert.ts
  packages/typescript-estree/tests/lib/parse.ts
Labels: package: typescript-estree

#217 test(ts-estree): upgrade babel to 7.3.2
  package.json
  packages/typescript-estree/tests/ast-alignment/fixtures-to-test.ts
  yarn.lock
Labels: package: typescript-estree

#218 test(ts-estree): correct jsx for semantic-diagnostics tests
  packages/typescript-estree/tests/ast-alignment/fixtures-to-test.ts
  packages/typescript-estree/tests/lib/__snapshots__/semantic-diagnostics-enabled.ts.snap
  packages/typescript-estree/tests/lib/comments.ts
  packages/typescript-estree/tests/lib/semantic-diagnostics-enabled.ts
  packages/typescript-estree/tests/lib/tsx.ts
  packages/typescript-estree/tests/lib/typescript.ts
  packages/typescript-estree/tools/test-utils.ts
Labels: package: typescript-estree

#155 feat(eslint-plugin): add new rule no-for-in-array
  packages/eslint-plugin/README.md
  packages/eslint-plugin/ROADMAP.md
  packages/eslint-plugin/docs/rules/no-for-in-array.md
  packages/eslint-plugin/lib/rules/no-for-in-array.js
  packages/eslint-plugin/lib/util.js
  packages/eslint-plugin/tests/lib/rules/no-for-in-array.js
Labels: enhancement: new plugin rule

#199 feat(eslint-plugin): add new rule no-require-imports
  packages/eslint-plugin/README.md
  packages/eslint-plugin/ROADMAP.md
  packages/eslint-plugin/docs/rules/no-require-imports.md
  packages/eslint-plugin/lib/rules/no-require-imports.js
  packages/eslint-plugin/tests/lib/rules/no-require-imports.js
Labels: enhancement: new plugin rule

#231 feat(eslint-plugin): add 'no-unnecessary-qualifier' rule
  packages/eslint-plugin/README.md
  packages/eslint-plugin/ROADMAP.md
  packages/eslint-plugin/docs/rules/no-unnecessary-qualifier.md
  packages/eslint-plugin/src/rules/no-unnecessary-qualifier.ts
  packages/eslint-plugin/tests/fixtures/foo.ts
  packages/eslint-plugin/tests/rules/no-unnecessary-qualifier.test.ts
  packages/typescript-estree/src/parser-options.ts
Labels: enhancement: new plugin rule

#237 fix(parser): fix crash when visiting decorators in parameters
  packages/eslint-plugin/src/rules/no-unused-vars.ts
  packages/eslint-plugin/tests/eslint-rules/no-shadow.test.ts
  packages/eslint-plugin/tests/eslint-rules/no-unused-vars.test.ts
  packages/eslint-plugin/tests/rules/no-unused-vars.test.ts
  packages/parser/src/analyze-scope.ts
  packages/parser/src/visitor-keys.ts
  packages/parser/tests/fixtures/scope-analysis/decorator-parameter-property-array.ts
  packages/parser/tests/fixtures/scope-analysis/decorator-parameter-property-identifier.ts
  packages/parser/tests/fixtures/scope-analysis/decorator-parameter-property-object.ts
  packages/parser/tests/fixtures/scope-analysis/decorator-parameter-property-parameter.ts
  packages/parser/tests/fixtures/scope-analysis/decorator-parameter-property-rest.ts
  packages/parser/tests/lib/__snapshots__/scope-analysis.ts.snap
  packages/parser/typings/eslint-scope.d.ts
Labels: bug

#244 fix(parser): fix visiting props of TSDeclareFunction
  packages/eslint-plugin/tests/eslint-rules/no-undef.test.ts
  packages/parser/src/analyze-scope.ts
  packages/parser/src/scope/scope-manager.ts
  packages/parser/src/scope/scopes.ts
  packages/parser/tests/fixtures/scope-analysis/declare-function-with-typeof.ts
  packages/parser/tests/lib/__snapshots__/scope-analysis.ts.snap
  packages/parser/typings/eslint-scope.d.ts
Labels: bug

#257 docs(*): Fixed typo in README.md
  README.md
Labels: documentation

#241 docs(eslint-plugin-tslint): update docs
  packages/eslint-plugin-tslint/README.md
Labels: documentation

#234 test(parser): change tests in parser to scope analysis
  packages/parser/tests/lib/__snapshots__/basics.ts.snap
  packages/parser/tests/lib/__snapshots__/javascript.ts.snap
  packages/parser/tests/lib/__snapshots__/jsx.ts.snap
  packages/parser/tests/lib/__snapshots__/tsx.ts.snap
  packages/parser/tests/lib/__snapshots__/typescript.ts.snap
  packages/parser/tests/lib/basics.ts
  packages/parser/tests/lib/comments.ts
  packages/parser/tests/lib/javascript.ts
  packages/parser/tests/lib/jsx.ts
  packages/parser/tests/lib/scope-analysis.ts
  packages/parser/tests/lib/services.ts
  packages/parser/tests/lib/tsx.ts
  packages/parser/tests/lib/typescript.ts
  packages/parser/tests/tools/scope-analysis.ts
  packages/parser/tests/tools/test-utils.ts
Labels: tests

#261 feat(eslint-plugin): add require-array-sort-compare rule (fixes #247)
  packages/eslint-plugin/docs/rules/require-array-sort-compare.md
  packages/eslint-plugin/src/rules/require-array-sort-compare.ts
  packages/eslint-plugin/tests/rules/require-array-sort-compare.test.ts
Labels: enhancement: new plugin rule

#215 feat(eslint-plugin): no-empty-interface - add allowSingleExtend option
  packages/eslint-plugin/docs/rules/no-empty-interface.md
  packages/eslint-plugin/src/rules/no-empty-interface.ts
  packages/eslint-plugin/tests/rules/no-empty-interface.test.ts
Labels: enhancement: new plugin rule

#274 test(eslint-plugin): add missing tests for no-type-alias and no-parameter-properties
  packages/eslint-plugin/tests/rules/no-parameter-properties.test.ts
  packages/eslint-plugin/tests/rules/no-type-alias.test.ts
Labels: tests

#275 docs(eslint-plugin): no-type-alias: Fix Typo
  packages/eslint-plugin/docs/rules/no-type-alias.md
Labels: documentation

#276 feat(eslint-plugin): add ban-ts-ignore rule
  packages/eslint-plugin/README.md
  packages/eslint-plugin/ROADMAP.md
  packages/eslint-plugin/docs/rules/ban-ts-ignore.md
  packages/eslint-plugin/src/rules/ban-ts-ignore.ts
  packages/eslint-plugin/tests/rules/ban-ts-ignore.test.ts
Labels: enhancement: new plugin rule

#264 docs(eslint-plugin): Mark import/order as "implementations differ"
  packages/eslint-plugin/ROADMAP.md
Labels: documentation

#286 feat(ts-estree): fix parsing nested sequence expressions
  packages/parser/tests/lib/__snapshots__/javascript.ts.snap
  packages/shared-fixtures/fixtures/javascript/commaOperator/comma-operator-conditional.src.js
  packages/shared-fixtures/fixtures/javascript/commaOperator/comma-operator-multi.src.js
  packages/shared-fixtures/fixtures/javascript/commaOperator/comma-operator-nested.src.js
  packages/shared-fixtures/fixtures/javascript/commaOperator/comma-operator-return.src.js
  packages/shared-fixtures/fixtures/javascript/commaOperator/comma-operator-simple-nested.src.js
  packages/shared-fixtures/fixtures/javascript/commaOperator/comma-operator-simple.src.js
  packages/typescript-estree/src/convert.ts
  packages/typescript-estree/tests/ast-alignment/fixtures-to-test.ts
  packages/typescript-estree/tests/lib/__snapshots__/javascript.ts.snap
  packages/typescript-estree/tests/lib/__snapshots__/semantic-diagnostics-enabled.ts.snap
Labels: bug

#272 feat(eslint-plugin): update types to allow parameter type inferrence
  packages/eslint-plugin/src/rules/array-type.ts
  packages/eslint-plugin/src/rules/camelcase.ts
  packages/eslint-plugin/src/rules/generic-type-naming.ts
  packages/eslint-plugin/src/rules/interface-name-prefix.ts
  packages/eslint-plugin/src/rules/member-ordering.ts
  packages/eslint-plugin/src/rules/no-angle-bracket-type-assertion.ts
  packages/eslint-plugin/src/rules/no-empty-interface.ts
  packages/eslint-plugin/src/rules/no-extraneous-class.ts
  packages/eslint-plugin/src/rules/no-for-in-array.ts
  packages/eslint-plugin/src/rules/no-non-null-assertion.ts
  packages/eslint-plugin/src/rules/no-parameter-properties.ts
  packages/eslint-plugin/src/rules/no-require-imports.ts
  packages/eslint-plugin/src/rules/no-triple-slash-reference.ts
  packages/eslint-plugin/src/rules/no-type-alias.ts
  packages/eslint-plugin/src/rules/no-unnecessary-type-assertion.ts
  packages/eslint-plugin/src/rules/no-useless-constructor.ts
  packages/eslint-plugin/src/rules/no-var-requires.ts
  packages/eslint-plugin/src/rules/prefer-function-type.ts
  packages/eslint-plugin/src/rules/prefer-namespace-keyword.ts
  packages/eslint-plugin/src/rules/type-annotation-spacing.ts
  packages/eslint-plugin/typings/ts-eslint.d.ts
Labels: enhancement

#159 chore: bump jest to version 24
  package.json
  tests/integration/utils/generate-package-json.js
  yarn.lock
Labels: tests

#303 test(plugin-tslint): missing test cases for eslint-plugin-tslint
  .eslintrc.json
  packages/eslint-plugin-tslint/src/custom-linter.ts
  packages/eslint-plugin-tslint/src/index.ts
  packages/eslint-plugin-tslint/tests/index.spec.ts
Labels: tests
