Repository typescript-eslint/typescript-eslint, pull requests merged in 2020-01, with the labels that each got.

#1375 feat(eslint-plugin): add no-implied-eval
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/no-implied-eval.md
  packages/eslint-plugin/src/configs/all.json
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/no-implied-eval.ts
  packages/eslint-plugin/tests/rules/no-implied-eval.test.ts
Labels: enhancement: new base rule extension

#1393 test(typescript-estree): correct storing regexp in snapshots
  .cspell.json
  packages/typescript-estree/package.json
  packages/typescript-estree/src/parser.ts
  packages/typescript-estree/tests/ast-alignment/parse.ts
  packages/typescript-estree/tests/ast-alignment/spec.ts
  packages/typescript-estree/tests/ast-alignment/utils.ts
  packages/typescript-estree/tests/lib/__snapshots__/javascript.ts.snap
  packages/typescript-estree/tools/test-utils.ts
  yarn.lock
Labels: tests

#1401 fix(eslint-plugin): crash in no-unnecessary-type-arguments
  packages/eslint-plugin/src/rules/no-unnecessary-type-arguments.ts
  packages/eslint-plugin/tests/rules/no-unnecessary-type-arguments.test.ts
Labels: bug, package: eslint-plugin

#963 chore(typescript-estree): clarify default file extensions
  packages/parser/README.md
  packages/parser/tests/lib/parser.ts
  packages/typescript-estree/src/create-program/createProjectProgram.ts
Labels: documentation

#1402 test(eslint-plugin): add missing test cases for rules
  packages/eslint-plugin/src/rules/class-name-casing.ts
  packages/eslint-plugin/src/rules/explicit-member-accessibility.ts
  packages/eslint-plugin/src/rules/no-array-constructor.ts
  packages/eslint-plugin/src/rules/no-empty-interface.ts
  packages/eslint-plugin/src/rules/no-misused-new.ts
  packages/eslint-plugin/src/rules/no-type-alias.ts
  packages/eslint-plugin/src/rules/no-unnecessary-type-assertion.ts
  packages/eslint-plugin/tests/fixtures/class.ts
  packages/eslint-plugin/tests/rules/array-type.test.ts
  packages/eslint-plugin/tests/rules/class-name-casing.test.ts
  packages/eslint-plugin/tests/rules/explicit-member-accessibility.test.ts
  packages/eslint-plugin/tests/rules/no-misused-new.test.ts
  packages/eslint-plugin/tests/rules/no-throw-literal.test.ts
  packages/eslint-plugin/tests/rules/no-type-alias.test.ts
  packages/eslint-plugin/tests/rules/no-unnecessary-type-assertion.test.ts
  packages/eslint-plugin/tests/rules/prefer-for-of.test.ts
  packages/eslint-plugin/tests/rules/prefer-readonly.test.ts
  packages/eslint-plugin/tests/rules/triple-slash-reference.test.ts
Labels: package: eslint-plugin, tests

#1405 test(typescript-estree): add test cases for extraFileExtensions
  packages/typescript-estree/tests/lib/__snapshots__/parse.ts.snap
  packages/typescript-estree/tests/lib/parse.ts
Labels: tests

#1406 fix(typescript-estree): correct persisted parse for windows
  packages/typescript-estree/src/create-program/shared.ts
Labels: bug

#1206 feat(eslint-plugin): [no-unneccessary-conditions] add option to check array predicate callbacks
  packages/eslint-plugin/docs/rules/no-unnecessary-condition.md
  packages/eslint-plugin/src/rules/no-unnecessary-condition.ts
  packages/eslint-plugin/tests/rules/no-unnecessary-condition.test.ts
  packages/eslint-plugin/typings/typescript.d.ts
Labels: enhancement: plugin rule option

#1403 test(eslint-plugin): migrate validation tools to jest test cases
  azure-pipelines.yml
  packages/eslint-plugin/package.json
  packages/eslint-plugin/tests/configs.test.ts
  packages/eslint-plugin/tests/configs/all.test.ts
  packages/eslint-plugin/tests/docs.test.ts
  packages/eslint-plugin/tools/validate-configs/checkConfigAll.ts
  packages/eslint-plugin/tools/validate-configs/checkConfigRecommended.ts
  packages/eslint-plugin/tools/validate-configs/checkConfigRecommendedRequiringTypeChecking.ts
  packages/eslint-plugin/tools/validate-configs/index.ts
  packages/eslint-plugin/tools/validate-docs/check-for-rule-docs.ts
  packages/eslint-plugin/tools/validate-docs/index.ts
  packages/eslint-plugin/tools/validate-docs/parse-readme.ts
  packages/eslint-plugin/tools/validate-docs/validate-table-rules.ts
  packages/eslint-plugin/tools/validate-docs/validate-table-structure.ts
Labels: tests

#1409 docs(eslint-plugin): explicit-member-accessibility
  packages/eslint-plugin/docs/rules/explicit-member-accessibility.md
Labels: documentation

#1411 test(typescript-estree): add more persistentParse tests
  packages/typescript-estree/tests/lib/persistentParse.ts
Labels: tests

#1415 fix(eslint-plugin): [no-magic-numbers] handle UnaryExpression for enums
  packages/eslint-plugin/src/rules/no-magic-numbers.ts
  packages/eslint-plugin/tests/rules/no-magic-numbers.test.ts
Labels: bug

#1419 docs: fixed a typo in ROADMAP.md
  packages/eslint-plugin/ROADMAP.md
Labels: documentation

#1382 feat(typescript-estree): add strict type mapping to `parserServices.esTreeNodeToTSNodeMap`
  packages/eslint-plugin/src/rules/await-thenable.ts
  packages/eslint-plugin/src/rules/no-floating-promises.ts
  packages/eslint-plugin/src/rules/no-for-in-array.ts
  packages/eslint-plugin/src/rules/no-misused-promises.ts
  packages/eslint-plugin/src/rules/no-unnecessary-condition.ts
  packages/eslint-plugin/src/rules/no-unnecessary-qualifier.ts
  packages/eslint-plugin/src/rules/no-unnecessary-type-arguments.ts
  packages/eslint-plugin/src/rules/no-unnecessary-type-assertion.ts
  packages/eslint-plugin/src/rules/no-unused-vars-experimental.ts
  packages/eslint-plugin/src/rules/prefer-nullish-coalescing.ts
  packages/eslint-plugin/src/rules/prefer-readonly.ts
  packages/eslint-plugin/src/rules/prefer-regexp-exec.ts
  packages/eslint-plugin/src/rules/prefer-string-starts-ends-with.ts
  packages/eslint-plugin/src/rules/promise-function-async.ts
  packages/eslint-plugin/src/rules/require-await.ts
  packages/eslint-plugin/src/rules/restrict-plus-operands.ts
  packages/eslint-plugin/src/rules/restrict-template-expressions.ts
  packages/eslint-plugin/src/rules/return-await.ts
  packages/eslint-plugin/src/rules/strict-boolean-expressions.ts
  packages/experimental-utils/package.json
  packages/typescript-estree/src/convert.ts
  packages/typescript-estree/src/parser-options.ts
  packages/typescript-estree/src/ts-estree/estree-to-ts-node-types.ts
  packages/typescript-estree/src/ts-estree/index.ts
  packages/typescript-estree/src/ts-estree/ts-nodes.ts
Labels: enhancement, package: eslint-plugin, package: typescript-estree

#1422 test(typescript-estree): upgrade `@babel/parser` to v7.7.7
  packages/typescript-estree/package.json
  packages/typescript-estree/tests/ast-alignment/fixtures-to-test.ts
  yarn.lock
Labels: dependencies, package: typescript-estree, tests

#1421 test(typescript-estree): alignment tests for TemplateLiteral node
  packages/typescript-estree/tests/ast-alignment/fixtures-to-test.ts
  packages/typescript-estree/tests/ast-alignment/utils.ts
Labels: package: typescript-estree, tests

#1428 fix(eslint-plugin): handle error classes using generics
  packages/eslint-plugin/src/rules/no-throw-literal.ts
  packages/eslint-plugin/tests/rules/no-throw-literal.test.ts
Labels: bug

#1418 feat(eslint-plugin): add default-param-last rule
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/default-param-last.md
  packages/eslint-plugin/src/configs/all.json
  packages/eslint-plugin/src/rules/default-param-last.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/tests/rules/default-param-last.test.ts
Labels: enhancement: new base rule extension

#1424 fix(typescript-estree): fix persisted parse for relative paths
  packages/typescript-estree/src/create-program/createWatchProgram.ts
  packages/typescript-estree/src/create-program/shared.ts
  packages/typescript-estree/src/parser.ts
  packages/typescript-estree/tests/lib/persistentParse.ts
Labels: bug, package: typescript-estree

#1430 chore: migrate lodash from function packages
  packages/eslint-plugin-tslint/package.json
  packages/eslint-plugin-tslint/src/rules/config.ts
  packages/typescript-estree/package.json
  packages/typescript-estree/src/node-utils.ts
  yarn.lock
Labels: dependencies

#1434 docs(eslint-plugin): improve doc for `requ-array-sort-comp`
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/require-array-sort-compare.md
  packages/eslint-plugin/src/rules/require-array-sort-compare.ts
Labels: documentation, package: eslint-plugin

#1002 fix(eslint-plugin): [no-unnec-type-assert] handle JSX attributes
  packages/eslint-plugin/src/rules/no-unnecessary-type-assertion.ts
  packages/eslint-plugin/tests/RuleTester.ts
  packages/eslint-plugin/tests/fixtures/react.tsx
  packages/eslint-plugin/tests/fixtures/tsconfig.json
  packages/eslint-plugin/tests/rules/no-unnecessary-type-assertion.test.ts
Labels: bug, package: eslint-plugin

#1439 fix(typescript-estree): resolve path relative to tsconfigRootDir
  packages/eslint-plugin/tests/rules/no-unnecessary-type-assertion.test.ts
  packages/parser/tests/lib/parser.ts
  packages/parser/tests/lib/services.ts
  packages/typescript-estree/src/create-program/createProjectProgram.ts
  packages/typescript-estree/src/parser.ts
  packages/typescript-estree/tests/lib/__snapshots__/parse.ts.snap
  packages/typescript-estree/tests/lib/parse.ts
  packages/typescript-estree/tests/lib/persistentParse.ts
  packages/typescript-estree/tests/lib/semanticInfo.ts
Labels: bug, package: typescript-estree

#1437 test: migrate some tests from `assert` to jest `expect`
  packages/eslint-plugin/tests/util.test.ts
  packages/experimental-utils/tests/eslint-utils/applyDefault.test.ts
  packages/experimental-utils/tests/eslint-utils/deepMerge.test.ts
Labels: tests

#1413 feat(typescript-estree): add parserOption to turn on debug logs
  package.json
  packages/experimental-utils/src/ts-eslint/ParserOptions.ts
  packages/typescript-estree/README.md
  packages/typescript-estree/src/create-program/createDefaultProgram.ts
  packages/typescript-estree/src/create-program/createIsolatedProgram.ts
  packages/typescript-estree/src/create-program/createWatchProgram.ts
  packages/typescript-estree/src/create-program/shared.ts
  packages/typescript-estree/src/parser-options.ts
  packages/typescript-estree/src/parser.ts
  packages/typescript-estree/tests/lib/parse.ts
Labels: enhancement

#1318 feat(eslint-plugin): add rule naming-conventions
  .cspell.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/naming-convention.md
  packages/eslint-plugin/src/configs/all.json
  packages/eslint-plugin/src/rules/camelcase.ts
  packages/eslint-plugin/src/rules/class-name-casing.ts
  packages/eslint-plugin/src/rules/generic-type-naming.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/interface-name-prefix.ts
  packages/eslint-plugin/src/rules/member-naming.ts
  packages/eslint-plugin/src/rules/naming-convention.ts
  packages/eslint-plugin/src/util/misc.ts
  packages/eslint-plugin/tests/configs.test.ts
  packages/eslint-plugin/tests/rules/naming-convention.test.ts
Labels: enhancement: new plugin rule

#1445 fix(eslint-plugin): set default-param-last as an extension rule
  packages/eslint-plugin/src/configs/all.json
  packages/eslint-plugin/tools/generate-configs.ts
Labels: bug

#1450 fix(eslint-plugin): naming-convention null pattern
  packages/eslint-plugin/src/rules/naming-convention.ts
  packages/eslint-plugin/tests/rules/naming-convention.test.ts
Labels: bug

#1449 test(experimental-utils): add few missing tests
  packages/experimental-utils/tests/eslint-utils/RuleCreator.test.ts
  packages/experimental-utils/tests/eslint-utils/applyDefault.test.ts
  packages/experimental-utils/tests/eslint-utils/batchedSingleLineTests.test.ts
  packages/experimental-utils/tests/eslint-utils/deepMerge.test.ts
Labels: tests

#1451 fix(typescript-estree): correct type of `ArrayPattern.elements`
  packages/eslint-plugin/src/rules/indent-new-do-not-use/index.ts
  packages/typescript-estree/src/ts-estree/ts-estree.ts
Labels: bug

#1454 docs(eslint-plugin): Fix misspelled [naming-convention] rule name
  packages/eslint-plugin/docs/rules/naming-convention.md
Labels: documentation, package: eslint-plugin

#1448 feat(experimental-utils): expose getParserServices from utils
  packages/eslint-plugin-tslint/src/rules/config.ts
  packages/eslint-plugin-tslint/tests/index.spec.ts
  packages/eslint-plugin/src/util/index.ts
  packages/experimental-utils/src/eslint-utils/getParserServices.ts
  packages/experimental-utils/src/eslint-utils/index.ts
  tests/integration/docker-compose.yml
  tests/integration/fixtures/markdown/test.sh
  tests/integration/fixtures/recommended-does-not-require-program/test.sh
  tests/integration/fixtures/typescript-and-tslint-plugins-together/test.sh
  tests/integration/fixtures/vue-jsx/test.sh
  tests/integration/fixtures/vue-sfc/test.sh
Labels: package: utils

#1455 feat(eslint-plugin): [naming-convention] allow not check format
  packages/eslint-plugin/docs/rules/naming-convention.md
  packages/eslint-plugin/src/rules/naming-convention.ts
  packages/eslint-plugin/tests/rules/naming-convention.test.ts
Labels: bug, enhancement: plugin rule option

#1020 feat(eslint-plugin): add explicit-module-boundary-types rule
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/explicit-module-boundary-types.md
  packages/eslint-plugin/src/configs/all.json
  packages/eslint-plugin/src/rules/explicit-module-boundary-types.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/no-untyped-public-signature.ts
  packages/eslint-plugin/tests/rules/explicit-module-boundary-types.test.ts
Labels: enhancement: plugin rule option

#1456 docs(eslint-plugin): clearly document extension rules
  docs/getting-started/linting/FAQ.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/src/configs/all.json
  packages/eslint-plugin/src/rules/brace-style.ts
  packages/eslint-plugin/src/rules/camelcase.ts
  packages/eslint-plugin/src/rules/default-param-last.ts
  packages/eslint-plugin/src/rules/func-call-spacing.ts
  packages/eslint-plugin/src/rules/indent.ts
  packages/eslint-plugin/src/rules/no-array-constructor.ts
  packages/eslint-plugin/src/rules/no-empty-function.ts
  packages/eslint-plugin/src/rules/no-extra-parens.ts
  packages/eslint-plugin/src/rules/no-extra-semi.ts
  packages/eslint-plugin/src/rules/no-magic-numbers.ts
  packages/eslint-plugin/src/rules/no-unused-expressions.ts
  packages/eslint-plugin/src/rules/no-unused-vars.ts
  packages/eslint-plugin/src/rules/no-use-before-define.ts
  packages/eslint-plugin/src/rules/no-useless-constructor.ts
  packages/eslint-plugin/src/rules/quotes.ts
  packages/eslint-plugin/src/rules/require-await.ts
  packages/eslint-plugin/src/rules/return-await.ts
  packages/eslint-plugin/src/rules/semi.ts
  packages/eslint-plugin/src/rules/space-before-function-paren.ts
  packages/eslint-plugin/tests/configs.test.ts
  packages/eslint-plugin/tests/docs.test.ts
  packages/eslint-plugin/tools/generate-configs.ts
  packages/experimental-utils/src/ts-eslint/Rule.ts
Labels: documentation

#1463 test: update azure pipelines to run tests on node 12
  azure-pipelines.yml
Labels: tests

#1440 fix(eslint-plugin): [unbound-method] handling of logical expr
  packages/eslint-plugin/src/rules/unbound-method.ts
  packages/eslint-plugin/tests/rules/unbound-method.test.ts
Labels: bug

#1469 feat(eslint-plugin): add no-non-null-asserted-optional-chain
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/no-non-null-asserted-optional-chain.md
  packages/eslint-plugin/src/configs/all.json
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/no-non-null-asserted-optional-chain.ts
  packages/eslint-plugin/tests/rules/no-non-null-asserted-optional-chain.test.ts
  packages/eslint-plugin/tools/generate-configs.ts
Labels: enhancement: new plugin rule

#1471 docs(eslint-plugin): fix examples of default-param-last rule
  packages/eslint-plugin/docs/rules/default-param-last.md
Labels: documentation, package: eslint-plugin

#1470 chore: upgrade commitlint and add config-lerna-scopes
  package.json
  yarn.lock
Labels: dependencies

#1361 feat(eslint-plugin): create `ban-ts-comment` rule
  .cspell.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/ban-ts-comment.md
  packages/eslint-plugin/docs/rules/ban-ts-ignore.md
  packages/eslint-plugin/src/configs/all.json
  packages/eslint-plugin/src/rules/ban-ts-comment.ts
  packages/eslint-plugin/src/rules/ban-ts-ignore.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/tests/rules/ban-ts-comment.test.ts
Labels: enhancement: new plugin rule

#1431 feat(eslint-plugin): add new rule prefer-as-const
  .eslintrc.js
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/prefer-as-const.md
  packages/eslint-plugin/src/configs/all.json
  packages/eslint-plugin/src/rules/indent.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/prefer-as-const.ts
  packages/eslint-plugin/tests/rules/no-array-constructor.test.ts
  packages/eslint-plugin/tests/rules/no-extraneous-class.test.ts
  packages/eslint-plugin/tests/rules/no-this-alias.test.ts
  packages/eslint-plugin/tests/rules/no-use-before-define.test.ts
  packages/eslint-plugin/tests/rules/prefer-as-const.test.ts
  packages/parser/tests/lib/parser.ts
  packages/typescript-estree/src/node-utils.ts
Labels: enhancement: new plugin rule, package: eslint-plugin

#1462 feat(experimental-utils): make RuleMetaData.docs optional
  packages/eslint-plugin/tests/configs.test.ts
  packages/eslint-plugin/tests/docs.test.ts
  packages/eslint-plugin/tools/generate-configs.ts
  packages/experimental-utils/src/ts-eslint/Rule.ts
Labels: enhancement

#1481 feat(parser): clean up scope-analysis types
  packages/experimental-utils/src/ts-eslint-scope/Reference.ts
  packages/experimental-utils/src/ts-eslint-scope/Referencer.ts
  packages/experimental-utils/src/ts-eslint-scope/Scope.ts
  packages/experimental-utils/src/ts-eslint-scope/ScopeManager.ts
  packages/experimental-utils/src/ts-eslint-scope/Variable.ts
  packages/parser/tests/tools/scope-analysis.ts
Labels: enhancement

#1488 docs(eslint-plugin): correct link to FAQ.md
  packages/eslint-plugin/README.md
Labels: documentation

#1487 fix(typescript-estree): fix identifier tokens typed as `Keyword`
  packages/parser/tests/lib/__snapshots__/typescript.ts.snap
  packages/shared-fixtures/fixtures/typescript/basics/keyword-variables.src.ts
  packages/typescript-estree/src/node-utils.ts
  packages/typescript-estree/tests/lib/__snapshots__/javascript.ts.snap
  packages/typescript-estree/tests/lib/__snapshots__/jsx.ts.snap
  packages/typescript-estree/tests/lib/__snapshots__/typescript.ts.snap
Labels: bug

#1490 fix(eslint-plugin): [explicit-module-boundary-types] fix false positives
  packages/eslint-plugin/src/rules/explicit-module-boundary-types.ts
  packages/eslint-plugin/tests/rules/explicit-module-boundary-types.test.ts
Labels: bug

#1494 docs: fix outdated statement in readme
  README.md
Labels: documentation

#1495 feat(eslint-plugin): add comma-spacing
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/comma-spacing.md
  packages/eslint-plugin/src/configs/all.json
  packages/eslint-plugin/src/rules/comma-spacing.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/util/astUtils.ts
  packages/eslint-plugin/tests/rules/comma-spacing.test.ts
Labels: enhancement: new base rule extension

#1498 chore: upgrade lerna to 3.20
  package.json
  yarn.lock
Labels: dependencies

#1499 chore: add funding field to package.json
  azure-pipelines.yml
  package.json
  packages/eslint-plugin/package.json
  packages/experimental-utils/package.json
  packages/parser/package.json
  packages/typescript-estree/package.json
Labels: dependencies

#1497 fix: improve token types and add missing type guards
  .eslintignore
  packages/eslint-plugin/src/rules/comma-spacing.ts
  packages/eslint-plugin/src/util/astUtils.ts
  packages/eslint-plugin/typings/eslint-utils.d.ts
  packages/experimental-utils/src/ts-eslint/SourceCode.ts
  packages/typescript-estree/src/convert-comments.ts
  packages/typescript-estree/src/node-utils.ts
  packages/typescript-estree/src/ts-estree/ts-estree.ts
Labels: enhancement, package: eslint-plugin, package: typescript-estree

#1505 test(eslint-plugin): cleanup no-use-before-define tests
  packages/eslint-plugin/tests/eslint-rules/no-use-before-define.test.ts
  packages/eslint-plugin/tests/rules/no-use-before-define.test.ts
Labels: tests

#1507 fix(eslint-plugin): fix property access on undefined error
  packages/eslint-plugin/src/rules/no-unnecessary-type-arguments.ts
  packages/eslint-plugin/tests/rules/no-unnecessary-type-arguments.test.ts
Labels: bug

#1509 chore: update `istanbul-reports` to make tests quiet
  yarn.lock
Labels: dependencies, tests

#1506 chore(eslint-plugin): use getFixturesRootDir in tests
  packages/eslint-plugin/tests/rules/no-dynamic-delete.test.ts
  packages/eslint-plugin/tests/rules/no-unnecessary-condition.test.ts
  packages/eslint-plugin/tests/rules/no-unnecessary-qualifier.test.ts
  packages/eslint-plugin/tests/rules/no-unnecessary-type-arguments.test.ts
  packages/eslint-plugin/tests/rules/no-unnecessary-type-assertion.test.ts
  packages/eslint-plugin/tests/rules/prefer-includes.test.ts
  packages/eslint-plugin/tests/rules/prefer-nullish-coalescing.test.ts
  packages/eslint-plugin/tests/rules/prefer-regexp-exec.test.ts
  packages/eslint-plugin/tests/rules/prefer-string-starts-ends-with.test.ts
  packages/eslint-plugin/tests/rules/require-array-sort-compare.test.ts
  packages/eslint-plugin/tests/rules/restrict-plus-operands.test.ts
  packages/eslint-plugin/tests/rules/restrict-template-expressions.test.ts
  packages/eslint-plugin/tests/rules/strict-boolean-expressions.test.ts
  packages/eslint-plugin/tests/rules/unbound-method.test.ts
Labels: refactor, tests

#1482 fix(eslint-plugin): [naming-convention] fix filter option
  packages/eslint-plugin/docs/rules/naming-convention.md
  packages/eslint-plugin/src/rules/naming-convention.ts
  packages/eslint-plugin/tests/rules/naming-convention.test.ts
Labels: bug

#1508 feat(eslint-plugin-internal): add `prefer-ast-types-enum`
  packages/eslint-plugin-internal/src/rules/index.ts
  packages/eslint-plugin-internal/src/rules/prefer-ast-types-enum.ts
  packages/eslint-plugin-internal/tests/rules/prefer-ast-types-enum.test.ts
Labels: tests

#1514 chore: enable `prefer-ast-types-enum` internal rule
  .eslintrc.js
  packages/eslint-plugin-internal/src/rules/prefer-ast-types-enum.ts
  packages/eslint-plugin-internal/tests/rules/prefer-ast-types-enum.test.ts
  packages/eslint-plugin/src/rules/ban-ts-comment.ts
  packages/eslint-plugin/src/rules/ban-ts-ignore.ts
  packages/eslint-plugin/src/rules/indent-new-do-not-use/index.ts
  packages/eslint-plugin/src/rules/no-inferrable-types.ts
  packages/eslint-plugin/src/rules/no-type-alias.ts
  packages/eslint-plugin/src/rules/no-unused-vars-experimental.ts
  packages/eslint-plugin/src/rules/triple-slash-reference.ts
  packages/eslint-plugin/tests/rules/ban-types.test.ts
  packages/eslint-plugin/tests/rules/indent/indent-eslint.test.ts
  packages/eslint-plugin/tests/rules/indent/indent.test.ts
  packages/eslint-plugin/tests/rules/no-unused-vars-experimental.test.ts
  packages/eslint-plugin/tests/rules/no-useless-constructor.test.ts
  packages/experimental-utils/src/ts-eslint/Scope.ts
  packages/parser/src/parser.ts
  packages/parser/tests/lib/basics.ts
  packages/typescript-estree/tests/ast-alignment/utils.ts
  packages/typescript-estree/tests/lib/visitor-keys.ts
Labels: tests

#1527 fix(experimental-utils): widen type of `settings` property
  packages/experimental-utils/src/ts-eslint/Rule.ts
Labels: bug

#1528 test: fix coverage reports from codecov
  azure-pipelines.yml
Labels: bug, tests

#1525 fix(typescript-estree): error on unexpected jsdoc nodes
  packages/typescript-estree/src/convert.ts
  packages/typescript-estree/tests/lib/__snapshots__/convert.ts.snap
  packages/typescript-estree/tests/lib/convert.ts
Labels: bug, package: typescript-estree

#1493 chore(eslint-plugin): refactor explicit return type rules to share code
  .vscode/settings.json
  packages/eslint-plugin/src/rules/explicit-function-return-type.ts
  packages/eslint-plugin/src/rules/explicit-module-boundary-types.ts
  packages/eslint-plugin/src/util/astUtils.ts
  packages/eslint-plugin/src/util/explicitReturnTypeUtils.ts
  packages/eslint-plugin/tests/rules/explicit-module-boundary-types.test.ts
Labels: refactor

#1523 test: fix vscode launch configuration for windows
  .vscode/launch.json
Labels: tests

#1524 docs(eslint-plugin): add script to generate the readme tables
  packages/eslint-plugin/README.md
  packages/eslint-plugin/package.json
  packages/eslint-plugin/tools/generate-rules-lists.ts
Labels: documentation, package: eslint-plugin

#242 feat(eslint-plugin): add no-unnecessary-boolean-literal-compare
  packages/eslint-plugin/README.md
  packages/eslint-plugin/ROADMAP.md
  packages/eslint-plugin/docs/rules/no-unnecessary-boolean-literal-compare.md
  packages/eslint-plugin/src/configs/all.json
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/no-unnecessary-boolean-literal-compare.ts
  packages/eslint-plugin/src/util/types.ts
  packages/eslint-plugin/tests/rules/no-unnecessary-boolean-literal-compare.test.ts
Labels: enhancement: new plugin rule

#1543 fix(typescript-estree): fix regression introduced in #1525
  packages/typescript-estree/src/convert.ts
  packages/typescript-estree/tests/lib/convert.ts
Labels: package: typescript-estree

#1468 feat(eslint-plugin): [no-extra-non-null-assert] add fixer
  packages/eslint-plugin/README.md
  packages/eslint-plugin/src/rules/no-extra-non-null-assertion.ts
  packages/eslint-plugin/tests/rules/no-extra-non-null-assertion.test.ts
Labels: enhancement: plugin rule option

#1530 test: update jest and babel dependencies
  package.json
  packages/typescript-estree/package.json
  yarn.lock
Labels: dependencies, tests

#1517 feat(eslint-plugin): support negative matches for `filter`
  packages/eslint-plugin/docs/rules/naming-convention.md
  packages/eslint-plugin/src/rules/naming-convention.ts
  packages/eslint-plugin/tests/rules/naming-convention.test.ts
Labels: enhancement: plugin rule option
