Repository typescript-eslint/typescript-eslint, pull requests merged in 2021-02, with the labels that each got.

#2990 fix(eslint-plugin): [consistent-type-imports] incorrect handling of computed property type signatures
  packages/eslint-plugin/src/rules/consistent-type-imports.ts
  packages/eslint-plugin/tests/rules/consistent-type-imports.test.ts
Labels: bug

#3002 fix(eslint-plugin): [prefer-function-type] generate correct code in union and intersection
  packages/eslint-plugin/src/rules/prefer-function-type.ts
  packages/eslint-plugin/tests/rules/prefer-function-type.test.ts
Labels: bug, package: eslint-plugin

#2996 test(typescript-estree): remove AST transformation of chain elements
  packages/typescript-estree/package.json
  packages/typescript-estree/tests/ast-alignment/utils.ts
  yarn.lock
Labels: package: typescript-estree, tests

#2999 test(typescript-estree): add missing test for union and intersection
  packages/shared-fixtures/fixtures/typescript/basics/union-intersection.src.ts
  packages/typescript-estree/tests/ast-alignment/fixtures-to-test.ts
  packages/typescript-estree/tests/lib/__snapshots__/semantic-diagnostics-enabled.test.ts.snap
  packages/typescript-estree/tests/snapshots/typescript/basics/union-intersection.src.ts.shot
Labels: package: typescript-estree, tests

#2995 feat(typescript-estree): correct logic used to escape string literals
  packages/shared-fixtures/fixtures/javascript/unicodeCodePointEscapes/ignored.src.js
  packages/shared-fixtures/fixtures/jsx/escape-patterns-ignored.src.js
  packages/shared-fixtures/fixtures/jsx/escape-patterns-unknown.src.js
  packages/shared-fixtures/fixtures/jsx/escape-patterns-valid.src.js
  packages/shared-fixtures/fixtures/jsx/escape-patterns.src.js
  packages/shared-fixtures/fixtures/jsx/escape-patters-multi.src.js
  packages/shared-fixtures/fixtures/jsx/unknown-escape-pattern.src.js
  packages/typescript-estree/package.json
  packages/typescript-estree/src/convert.ts
  packages/typescript-estree/src/jsx/xhtml-entities.ts
  packages/typescript-estree/src/node-utils.ts
  packages/typescript-estree/tests/lib/__snapshots__/semantic-diagnostics-enabled.test.ts.snap
  packages/typescript-estree/tests/lib/node-utils.test.ts
  packages/typescript-estree/tests/snapshots/javascript/unicodeCodePointEscapes/ignored.src.js.shot
  packages/typescript-estree/tests/snapshots/jsx/escape-patterns-ignored.src.js.shot
  packages/typescript-estree/tests/snapshots/jsx/escape-patterns-unknown.src.js.shot
  packages/typescript-estree/tests/snapshots/jsx/escape-patterns-valid.src.js.shot
  packages/typescript-estree/tests/snapshots/jsx/escape-patters-multi.src.js.shot
Labels: enhancement, package: typescript-estree

#3008 fix(scope-manager): fix visiting of TSImportType
  packages/eslint-plugin/tests/eslint-rules/no-undef.test.ts
  packages/scope-manager/src/referencer/TypeVisitor.ts
  packages/scope-manager/tests/fixtures/type-declaration/import-type-with-qualifier.ts
  packages/scope-manager/tests/fixtures/type-declaration/import-type-with-qualifier.ts.shot
  packages/scope-manager/tests/fixtures/type-declaration/import-type-with-type-params.ts
  packages/scope-manager/tests/fixtures/type-declaration/import-type-with-type-params.ts.shot
  packages/scope-manager/tests/fixtures/type-declaration/import-type.ts
  packages/scope-manager/tests/fixtures/type-declaration/import-type.ts.shot
Labels: bug

#2993 fix(eslint-plugin): [no-extra-parens] handle ESLint 7.19.0
  packages/eslint-plugin/src/rules/no-extra-parens.ts
  packages/eslint-plugin/typings/eslint-rules.d.ts
Labels: bug, package: eslint-plugin

#3015 chore: add dependabot config
  .github/dependabot.yml
Labels: dependencies, repo maintenance

#3024 test(typescript-estree): update babel alignment tests
  packages/typescript-estree/package.json
  packages/typescript-estree/tests/ast-alignment/fixtures-to-test.ts
  packages/typescript-estree/tests/ast-alignment/utils.ts
  yarn.lock
Labels: tests

#3034 chore: bump prettier from 2.1.1 to 2.2.1
  package.json
  packages/eslint-plugin/src/rules/indent-new-do-not-use/index.ts
  packages/eslint-plugin/src/rules/naming-convention-utils/format.ts
  packages/eslint-plugin/src/rules/semi.ts
  packages/eslint-plugin/src/util/index.ts
  packages/eslint-plugin/tests/rules/naming-convention.test.ts
  packages/eslint-plugin/tests/rules/no-empty-function.test.ts
  packages/experimental-utils/src/ts-eslint/Rule.ts
  yarn.lock
Labels: dependencies

#3036 chore: bump jest from 26.4.2 to 26.6.3
  .eslintrc.js
  package.json
  packages/scope-manager/tests/eslint-scope/es6-iteration-scope.test.ts
  yarn.lock
Labels: dependencies

#3052 chore(eslint-plugin): remove no longer needed tools module
  packages/eslint-plugin/tools/log.ts
Labels: package: eslint-plugin, repo maintenance

#3045 test: update ast alignment tests and simplify shared fixtures
  packages/parser/package.json
  packages/parser/tsconfig.build.json
  packages/parser/tsconfig.json
  packages/shared-fixtures/jsx-known-issues.ts
  packages/shared-fixtures/package.json
  packages/shared-fixtures/tsconfig.build.json
  packages/shared-fixtures/tsconfig.json
  packages/typescript-estree/package.json
  packages/typescript-estree/tests/ast-alignment/fixtures-to-test.ts
  packages/typescript-estree/tests/lib/semantic-diagnostics-enabled.test.ts
  packages/typescript-estree/tsconfig.build.json
  packages/typescript-estree/tsconfig.json
  yarn.lock
Labels: dependencies, package: typescript-estree, tests

#3051 fix(eslint-plugin): [explicit-module-boundary-types] check allowNames on function declarations and property methods
  packages/eslint-plugin/src/rules/explicit-module-boundary-types.ts
  packages/eslint-plugin/tests/rules/explicit-module-boundary-types.test.ts
Labels: bug

#3054 chore: fix execution of lint:markdown on windows
  package.json
  yarn.lock
Labels: dependencies

#3056 chore: update husky to 5.0.9
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  package.json
  yarn.lock
Labels: dependencies

#3057 chore: update remaining dependencies
  package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/no-extra-parens.ts
  packages/typescript-estree/package.json
  packages/visitor-keys/package.json
  yarn.lock
Labels: dependencies

#3058 docs(eslint-plugin): [explicit-module-boundary-types] fix doc & code examples
  packages/eslint-plugin/docs/rules/explicit-module-boundary-types.md
Labels: awaiting response, documentation

#3062 test: correct integration tests for eslint-plugin-markdown
  tests/integration/fixtures/markdown/.eslintrc.js
Labels: dependencies, tests

#3070 test(eslint-plugin): [no-unsafe-assignment] add test cases for uncovered code
  packages/eslint-plugin/tests/rules/no-unsafe-assignment.test.ts
Labels: package: eslint-plugin, tests

#3060 fix(typescript-estree): correct test names on windows for semantic-diagnostics-enabled
  packages/typescript-estree/tests/lib/semantic-diagnostics-enabled.test.ts
Labels: tests

#3072 chore: update codecov configuration
  .codecov.yml
  .github/workflows/ci.yml
Labels: repo maintenance

#3074 fix(eslint-plugin): [no-var-requires] report when used in type assertion
  packages/eslint-plugin/src/rules/no-var-requires.ts
  packages/eslint-plugin/tests/rules/no-var-requires.test.ts
Labels: bug, package: eslint-plugin

#3084 refactor(typescript-estree): simplify applyModifiersToResult
  packages/typescript-estree/src/convert.ts
Labels: package: typescript-estree, refactor

#3081 fix: add missing intrinsic keyword node to AST
  packages/eslint-plugin/src/rules/sort-type-union-intersection-members.ts
  packages/eslint-plugin/tests/rules/sort-type-union-intersection-members.test.ts
  packages/shared-fixtures/fixtures/typescript/basics/intrinsic-keyword.src.ts
  packages/types/src/ast-node-types.ts
  packages/types/src/ts-estree.ts
  packages/typescript-estree/src/convert.ts
  packages/typescript-estree/src/ts-estree/estree-to-ts-node-types.ts
  packages/typescript-estree/tests/lib/__snapshots__/semantic-diagnostics-enabled.test.ts.snap
  packages/typescript-estree/tests/snapshots/typescript/basics/intrinsic-keyword.src.ts.shot
  packages/visitor-keys/src/visitor-keys.ts
Labels: AST, bug

#3083 fix(typescript-estree): correct issues in AST definition
  packages/eslint-plugin/src/rules/no-unused-vars.ts
  packages/types/src/ts-estree.ts
  packages/typescript-estree/src/convert.ts
Labels: AST, bug

#3085 docs(eslint-plugin): Corrected numbering of selector order for naming-convention
  packages/eslint-plugin/docs/rules/naming-convention.md
Labels: documentation

#3098 chore: add newline to husky gitignore
  .husky/.gitignore
Labels: repo maintenance

#3101 test(scope-manager): add missing test cases for typeof import
  packages/scope-manager/tests/fixtures/type-declaration/type-query-qualified.ts
  packages/scope-manager/tests/fixtures/type-declaration/type-query-qualified.ts.shot
  packages/scope-manager/tests/fixtures/type-declaration/typeof-import-type-with-qualifier.ts
  packages/scope-manager/tests/fixtures/type-declaration/typeof-import-type-with-qualifier.ts.shot
Labels: package: scope-manager, tests

#3102 refactor(typescript-estree): add missing type guards to node utils
  packages/typescript-estree/src/node-utils.ts
Labels: package: typescript-estree

#3082 docs: improve no-undef FAQ
  docs/getting-started/linting/FAQ.md
Labels: documentation

#2872 feat(eslint-plugin): [prom-func-async] report only function head
  packages/eslint-plugin/src/rules/promise-function-async.ts
  packages/eslint-plugin/src/util/explicitReturnTypeUtils.ts
  packages/eslint-plugin/src/util/getFunctionHeadLoc.ts
  packages/eslint-plugin/src/util/index.ts
  packages/eslint-plugin/tests/rules/promise-function-async.test.ts
Labels: enhancement

#3009 fix(eslint-plugin): [consistent-indexed-object-style] do not autofix if interface has extends
  packages/eslint-plugin/src/rules/consistent-indexed-object-style.ts
  packages/eslint-plugin/tests/rules/consistent-indexed-object-style.test.ts
Labels: bug, package: eslint-plugin

#3010 fix(eslint-plugin): [unbound-method] allow `super` expressions in `this` assignments
  packages/eslint-plugin/src/rules/unbound-method.ts
  packages/eslint-plugin/tests/rules/unbound-method.test.ts
Labels: bug, package: eslint-plugin

#3094 fix(eslint-plugin): [prefer-function-type] apply existing comments to the fixed code
  packages/eslint-plugin/src/rules/prefer-function-type.ts
  packages/eslint-plugin/tests/rules/prefer-function-type.test.ts
Labels: bug

#2970 feat(eslint-plugin): [member-delimiter-style] Add an option 'multilineDetection' to treat types and interfaces as single line if the last member ends on the same line as the closing bracket
  packages/eslint-plugin/docs/rules/member-delimiter-style.md
  packages/eslint-plugin/src/rules/member-delimiter-style.ts
  packages/eslint-plugin/tests/rules/member-delimiter-style.test.ts
Labels: enhancement
