Repository typescript-eslint/typescript-eslint, pull requests merged in 2022-06, with the labels that each got.

#5129 chore(website): ship source maps for playground
  packages/website-eslint/package.json
  packages/website-eslint/rollup.config.js
  packages/website/webpack.plugin.js
  yarn.lock
Labels: enhancement, package: website

#5127 docs: update supported TS version range
  README.md
Labels: documentation

#5123 chore: add note about minimal configs to bug report forms
  .github/ISSUE_TEMPLATE/1-bug-report-plugin.yaml
  .github/ISSUE_TEMPLATE/6-bug-report-other.yaml
Labels: repo maintenance

#5126 chore(website): include labels in the report-an-issue button
  packages/website/src/components/lib/markdown.ts
Labels: bug

#5135 fix(eslint-plugin): [space-infix-ops] regression fix for conditional types
  packages/eslint-plugin/src/rules/space-infix-ops.ts
  packages/eslint-plugin/tests/rules/space-infix-ops.test.ts
Labels: bug, package: eslint-plugin

#5140 chore(website): [playground] correct scope analysis class names
  packages/website-eslint/rollup.config.js
Labels: package: website

#5138 fix(eslint-plugin): [space-infix-ops] regression fix for type aliases
  packages/eslint-plugin/src/rules/space-infix-ops.ts
  packages/eslint-plugin/tests/rules/space-infix-ops.test.ts
Labels: bug, package: eslint-plugin

#5059 docs(eslint-plugin): [no-extraneous-class] overhaul rule docs
  packages/eslint-plugin/docs/rules/no-extraneous-class.md
Labels: documentation

#5155 fix(eslint-plugin): [space-infix-ops] support for optional property without type
  packages/eslint-plugin/src/rules/space-infix-ops.ts
  packages/eslint-plugin/tests/rules/space-infix-ops.test.ts
Labels: bug, package: eslint-plugin

#4924 feat(eslint-plugin): [consistent-generic-constructors] add rule
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/README.md
  packages/eslint-plugin/docs/rules/consistent-generic-constructors.md
  packages/eslint-plugin/src/configs/all.ts
  packages/eslint-plugin/src/configs/strict.ts
  packages/eslint-plugin/src/rules/consistent-generic-constructors.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/tests/rules/consistent-generic-constructors.test.ts
  packages/utils/src/ts-eslint/SourceCode.ts
Labels: enhancement: new plugin rule

#5112 chore(website): [playground] parse eslint module config on parse and improve visual editor
  packages/website/src/components/config/ConfigEslint.tsx
  packages/website/src/components/config/ConfigTypeScript.tsx
  packages/website/src/components/config/utils.ts
  packages/website/src/components/editor/LoadedEditor.tsx
  packages/website/src/components/linter/utils.ts
  packages/website/src/components/types.ts
Labels: enhancement, package: website

#5161 docs: remove unexpected 'as const' in incorrect example
  packages/eslint-plugin/docs/rules/explicit-module-boundary-types.md
Labels: documentation

#5099 docs: use custom diff code blocks
  .cspell.json
  docs/linting/MONOREPO.md
  docs/linting/README.md
  docs/linting/TROUBLESHOOTING.md
  docs/linting/TYPED_LINTING.md
  packages/website/docusaurusConfig.ts
  packages/website/package.json
  packages/website/src/css/custom.css
  packages/website/src/theme/CodeBlock/Content/String.tsx
  packages/website/src/theme/CodeBlock/Content/styles.module.css
Labels: documentation

#5166 fix: [TS4.7] allow visiting of typeParameters in TSTypeQuery
  .prettierignore
  packages/eslint-plugin/tests/rules/no-unused-vars/no-unused-vars.test.ts
  packages/scope-manager/src/referencer/TypeVisitor.ts
  packages/scope-manager/tests/fixtures.test.ts
  packages/scope-manager/tests/fixtures/type-declaration/type-query-with-parameters.ts
  packages/scope-manager/tests/fixtures/type-declaration/type-query-with-parameters.ts.shot
  packages/visitor-keys/src/visitor-keys.ts
Labels: bug, package: eslint-plugin, package: scope-manager, package: visitor-keys

#5169 docs(website): [playground] add links to documentation and improve fixers
  packages/website/src/components/ErrorsViewer.module.css
  packages/website/src/components/ErrorsViewer.tsx
  packages/website/src/components/Playground.tsx
  packages/website/src/components/editor/LoadedEditor.tsx
  packages/website/src/components/editor/createProvideCodeActions.ts
  packages/website/src/components/editor/types.ts
  packages/website/src/components/linter/WebLinter.ts
  packages/website/src/components/linter/utils.ts
  packages/website/src/components/types.ts
Labels: package: website

#5172 chore(eslint-plugin): [prefer-optional-chain] fix incorrect syntax in documentation
  packages/eslint-plugin/docs/rules/prefer-optional-chain.md
Labels: package: eslint-plugin, documentation

#5162 chore(website): [playground] correct issues with libs
  packages/website/src/components/config/utils.ts
  packages/website/src/components/editor/LoadedEditor.tsx
  packages/website/src/components/editor/config.ts
  packages/website/src/components/editor/useSandboxServices.ts
  packages/website/src/vendor/sandbox.d.ts
  packages/website/src/vendor/tsWorker.d.ts
  packages/website/typings/remark-docusaurus-tabs.d.ts
  packages/website/typings/typescript.d.ts
Labels: bug, package: website, website: playground

#3570 feat(ast-spec): extract `AssignmentOperatorToText`
  packages/ast-spec/src/expression/AssignmentExpression/AssignmentOperatorToText.ts
  packages/ast-spec/src/expression/AssignmentExpression/spec.ts
  packages/ast-spec/src/token/PunctuatorToken/PunctuatorTokenToText.ts
  packages/ast-spec/src/token/PunctuatorToken/spec.ts
  packages/ast-spec/src/utils.ts
  packages/ast-spec/tests/AssignmentOperatorToText.type-test.ts
Labels: bug

#5190 feat(website): open issue with rule name if only one rule is enabled
  packages/website/src/components/lib/markdown.ts
Labels: package: website, website: playground

#5188 docs(eslint-plugin): remove "Related To" references to TSLint
  packages/eslint-plugin/docs/rules/adjacent-overload-signatures.md
  packages/eslint-plugin/docs/rules/array-type.md
  packages/eslint-plugin/docs/rules/await-thenable.md
  packages/eslint-plugin/docs/rules/ban-ts-comment.md
  packages/eslint-plugin/docs/rules/ban-types.md
  packages/eslint-plugin/docs/rules/consistent-type-assertions.md
  packages/eslint-plugin/docs/rules/consistent-type-definitions.md
  packages/eslint-plugin/docs/rules/explicit-member-accessibility.md
  packages/eslint-plugin/docs/rules/member-ordering.md
  packages/eslint-plugin/docs/rules/no-confusing-void-expression.md
  packages/eslint-plugin/docs/rules/no-dynamic-delete.md
  packages/eslint-plugin/docs/rules/no-empty-interface.md
  packages/eslint-plugin/docs/rules/no-explicit-any.md
  packages/eslint-plugin/docs/rules/no-extraneous-class.md
  packages/eslint-plugin/docs/rules/no-floating-promises.md
  packages/eslint-plugin/docs/rules/no-for-in-array.md
  packages/eslint-plugin/docs/rules/no-inferrable-types.md
  packages/eslint-plugin/docs/rules/no-invalid-void-type.md
  packages/eslint-plugin/docs/rules/no-misused-new.md
  packages/eslint-plugin/docs/rules/no-namespace.md
  packages/eslint-plugin/docs/rules/no-non-null-assertion.md
  packages/eslint-plugin/docs/rules/no-parameter-properties.md
  packages/eslint-plugin/docs/rules/no-require-imports.md
  packages/eslint-plugin/docs/rules/no-this-alias.md
  packages/eslint-plugin/docs/rules/no-type-alias.md
  packages/eslint-plugin/docs/rules/no-unnecessary-boolean-literal-compare.md
  packages/eslint-plugin/docs/rules/no-unnecessary-qualifier.md
  packages/eslint-plugin/docs/rules/no-unnecessary-type-arguments.md
  packages/eslint-plugin/docs/rules/no-unnecessary-type-assertion.md
  packages/eslint-plugin/docs/rules/no-unsafe-argument.md
  packages/eslint-plugin/docs/rules/no-unsafe-assignment.md
  packages/eslint-plugin/docs/rules/no-unsafe-call.md
  packages/eslint-plugin/docs/rules/no-unsafe-member-access.md
  packages/eslint-plugin/docs/rules/no-unsafe-return.md
  packages/eslint-plugin/docs/rules/no-var-requires.md
  packages/eslint-plugin/docs/rules/parameter-properties.md
  packages/eslint-plugin/docs/rules/prefer-for-of.md
  packages/eslint-plugin/docs/rules/prefer-function-type.md
  packages/eslint-plugin/docs/rules/prefer-namespace-keyword.md
  packages/eslint-plugin/docs/rules/prefer-readonly.md
  packages/eslint-plugin/docs/rules/promise-function-async.md
  packages/eslint-plugin/docs/rules/restrict-plus-operands.md
  packages/eslint-plugin/docs/rules/strict-boolean-expressions.md
  packages/eslint-plugin/docs/rules/triple-slash-reference.md
  packages/eslint-plugin/docs/rules/type-annotation-spacing.md
  packages/eslint-plugin/docs/rules/typedef.md
  packages/eslint-plugin/docs/rules/unbound-method.md
  packages/eslint-plugin/docs/rules/unified-signatures.md
Labels: package: eslint-plugin, documentation

#5198 docs(website): [playground] show tooltips bellow hovered code
  packages/website/src/components/Playground.module.css
  packages/website/src/components/editor/useSandboxServices.ts
Labels: package: website, website: playground

#5116 docs: autogenerate rules table on website
  .markdownlint.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/README.md
  packages/eslint-plugin/tests/docs.test.ts
  packages/website/docusaurusConfig.ts
  packages/website/plugins/add-rule-attributes-list.ts
  packages/website/rulesMeta.ts
  packages/website/src/components/RulesTable/index.tsx
  packages/website/src/components/RulesTable/styles.module.css
  packages/website/src/hooks/useRulesMeta.ts
  packages/website/src/theme/MDXComponents/RuleAttributes.module.css
  packages/website/src/theme/MDXComponents/RuleAttributes.tsx
  packages/website/src/theme/MDXComponents/index.tsx
  packages/website/tsconfig.json
Labels: documentation, awaiting response

#5183 feat(eslint-plugin): [no-shadow] add shadowed variable location to the error message
  packages/eslint-plugin/src/rules/no-shadow.ts
  packages/eslint-plugin/tests/rules/no-shadow.test.ts
  packages/eslint-plugin/tests/rules/no-shadow/no-shadow-eslint.test.ts
  packages/eslint-plugin/tests/rules/no-shadow/no-shadow.test.ts
Labels: enhancement

#4382 feat: treat `this` in `typeof this` as a `ThisExpression`
  packages/ast-spec/src/unions/EntityName.ts
  packages/eslint-plugin/tests/eslint-rules/no-undef.test.ts
  packages/scope-manager/src/referencer/ClassVisitor.ts
  packages/scope-manager/src/referencer/TypeVisitor.ts
  packages/scope-manager/tests/fixtures/decorators/typeof-this.ts
  packages/scope-manager/tests/fixtures/decorators/typeof-this.ts.shot
  packages/shared-fixtures/fixtures/typescript/types/typeof-this.src.ts
  packages/typescript-estree/src/convert.ts
  packages/typescript-estree/src/node-utils.ts
  packages/typescript-estree/src/ts-estree/estree-to-ts-node-types.ts
  packages/typescript-estree/tests/ast-alignment/utils.ts
  packages/typescript-estree/tests/lib/__snapshots__/semantic-diagnostics-enabled.test.ts.snap
  packages/typescript-estree/tests/snapshots/typescript/types/typeof-this.src.ts.shot
Labels: enhancement

#5270 fix(eslint-plugin): [no-base-to-string] add missing apostrophe to message
  packages/eslint-plugin/src/rules/no-base-to-string.ts
Labels: bug
