Repository typescript-eslint/typescript-eslint, pull requests merged in 2022-04, with the labels that each got.

#4774 test: update babel alignment tests to latest version
  packages/shared-fixtures/fixtures/typescript/basics/never-type-param.src.ts
  packages/shared-fixtures/fixtures/typescript/types/constructor-abstract.src.ts
  packages/shared-fixtures/fixtures/typescript/types/constructor-empty.src.ts
  packages/typescript-estree/package.json
  packages/typescript-estree/tests/ast-alignment/fixtures-to-test.ts
  packages/typescript-estree/tests/ast-alignment/utils.ts
  packages/typescript-estree/tests/snapshots/typescript/basics/never-type-param.src.ts.shot
  packages/typescript-estree/tests/snapshots/typescript/types/constructor-abstract.src.ts.shot
  packages/typescript-estree/tests/snapshots/typescript/types/constructor-empty.src.ts.shot
  yarn.lock
Labels: package: typescript-estree, tests

#4790 fix(eslint-plugin): update code to use estree range instead of ts pos/end
  packages/eslint-plugin/src/rules/no-unnecessary-type-assertion.ts
Labels: bug, package: eslint-plugin

#4659 feat(eslint-plugin): [unified-signatures] add `ignoreDifferentlyNamedParameters` option
  packages/eslint-plugin/docs/rules/unified-signatures.md
  packages/eslint-plugin/src/rules/unified-signatures.ts
  packages/eslint-plugin/tests/rules/unified-signatures.test.ts
Labels: enhancement: plugin rule option

#4773 docs(website): propagate typescript options to eslint
  packages/website-eslint/package.json
  packages/website-eslint/src/linter/linter.js
  packages/website-eslint/types/index.d.ts
  packages/website/src/components/editor/LoadedEditor.tsx
  packages/website/src/components/editor/lintCode.ts
  packages/website/src/components/editor/useSandboxServices.ts
  packages/website/src/components/types.ts
  packages/website/src/vendor/ds/createDesignSystem.d.ts
  packages/website/src/vendor/playground.d.ts
  packages/website/src/vendor/sandbox.d.ts
  packages/website/src/vendor/tsWorker.d.ts
  packages/website/src/vendor/typescript-vfs.d.ts
  tools/generate-website-dts.ts
  yarn.lock
Labels: package: website

#4792 docs(eslint-plugin):improve docs [consistent-type-exports]
  packages/eslint-plugin/docs/rules/consistent-type-exports.md
Labels: documentation

#4789 feat(eslint-plugin): [no-magic-numbers] ignoreTypeIndexes option
  packages/eslint-plugin/docs/rules/no-magic-numbers.md
  packages/eslint-plugin/src/rules/no-magic-numbers.ts
  packages/eslint-plugin/tests/rules/no-magic-numbers.test.ts
  packages/eslint-plugin/typings/eslint-rules.d.ts
Labels: enhancement: plugin rule option, awaiting response

#4827 Update comma-dangle.md
  packages/eslint-plugin/docs/rules/comma-dangle.md
Labels: awaiting response

#4622 feat(eslint-plugin): [parameter-properties] add rule to replace `no-parameter-properties`
  packages/eslint-plugin/README.md
  packages/eslint-plugin/ROADMAP.md
  packages/eslint-plugin/docs/rules/README.md
  packages/eslint-plugin/docs/rules/parameter-properties.md
  packages/eslint-plugin/src/configs/all.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/no-parameter-properties.ts
  packages/eslint-plugin/src/rules/parameter-properties.ts
  packages/eslint-plugin/tests/rules/parameter-properties.test.ts
Labels: enhancement: plugin rule option

#4844 fix(eslint-plugin): [no-namespace] fix false positive for exported namespaces when allowDeclarations=true
  packages/eslint-plugin/src/rules/no-namespace.ts
  packages/eslint-plugin/tests/rules/no-namespace.test.ts
Labels: bug, awaiting response

#4841 fix(eslint-plugin): [no-misused-promises] prioritize false returns when checking whether a function returns only void
  packages/eslint-plugin/src/rules/no-misused-promises.ts
  packages/eslint-plugin/tests/rules/no-misused-promises.test.ts
Labels: bug

#4848 fix(eslint-plugin): [space-infix-ops] fix no error when right type is function
  packages/eslint-plugin/src/rules/space-infix-ops.ts
  packages/eslint-plugin/tests/rules/space-infix-ops.test.ts
Labels: awaiting response

#4870 docs(website): correct theme color blink when playground is initialized
  packages/website/src/components/editor/useSandboxServices.ts
Labels: documentation

#4833 feat(eslint-plugin): [no-duplicate-enum-values] add rule
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/no-duplicate-enum-values.md
  packages/eslint-plugin/src/configs/all.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/no-duplicate-enum-values.ts
  packages/eslint-plugin/tests/rules/no-duplicate-enum-values.test.ts
Labels: enhancement: new plugin rule

#4868 fix(eslint-plugin): [comma-spacing] verify `nextToken` exists
  packages/eslint-plugin/src/rules/comma-spacing.ts
  packages/eslint-plugin/tests/rules/comma-spacing.test.ts
Labels: bug, awaiting response
